%main.grid
  = link_to root_url, class: 'grid-item' do
    .overlay
      %p Here is some text.
    = image_tag 'unnamed'

  = link_to root_url, class: 'grid-item' do
    .overlay
      %p Here is some text.
    = image_tag 'unnamed-4'

  = link_to root_url, class: 'grid-item' do
    .overlay
      %p Here is some text.
    = image_tag '3'

  = link_to root_url, class: 'grid-item' do
    .overlay
      %p Here is some text.
    = image_tag '6'

  = link_to root_url, class: 'grid-item' do
    .overlay
      %p Here is some text.
    = image_tag 'unnamed'
