<!DOCTYPE html>
%html
  %head
    %title Aubrey Nolan
    = csrf_meta_tags

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css"/>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'

  %body.app{ class: "#{params[:controller]}-#{params[:action]}".gsub('/', '-').parameterize }
    -if notice or alert
      #flash
        %p.notice= notice
        %p.alert= alert
    - if signed_in?
      #admin-header
        %span= "Logged in as #{current_admin.email}"
        = link_to 'Sign Out', destroy_admin_session_path, class: 'sign-out-link', method: :delete
    %header
      .top
        %h1
          = link_to 'Aubrey Nolan', root_url
          = link_to root_url do
            = image_tag 'lady-head-small'
      %nav
        = link_to 'Work', root_url
        = link_to 'About', about_url

    %main
      = yield

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>
